<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="biz.paluch.logging.gelf.log4j2"
               monitorInterval="60">
    <Properties>
        <Property name="log-path">/var/log/fpts</Property>
        <Property name="archive">${log-path}/archive</Property>
        <Property name="PID">????</Property>
        <Property name="serviceName">incentive-service</Property>
        <Property name="active-profile">${sys:spring.profiles.active}</Property>
        <Property name="LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{${hostName}} %clr{%5p}%clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint}%m%n%xwEx
        </Property>
    </Properties>
    <Appenders>
        <Socket name="Graylog" protocol="udp" host="graylog.fptsinternal.com" port="12223">
            <GelfLayout host="${serviceName}-${active-profile}" compressionType="ZLIB" compressionThreshold="1024"/>
        </Socket>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${LOG_PATTERN}
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="main" level="debug" additivity="false">
            <AppenderRef ref="Console-Appender" level="info"/>
            <AppenderRef ref="Graylog"/>
        </AsyncLogger>
        <AsyncRoot level="info">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="Graylog"/>
        </AsyncRoot>
    </Loggers>
</Configuration>